* {
    font-family: Akkurat;
    box-sizing: border-box;
    margin: 0;
    max-width: 100vw;
}


/* Hamburger */

.hamburger__checkbox {
    width: 23px;
    height: 2px;
    background-color: #00006b;
    margin: 5px 0;
}

.topbar__hamburger__nav {
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
 .topbar__hamburger__nav a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
 }


 .topbar__hamburger__nav a {
    padding-left: 10px;
 }


 .topbar__hamburger__nav li::before {
    content: ">";
    display: inline-block;
    left: 0;
    padding-right: 0.3em;
    position: absolute;
    transition: all .1s ease-in;
 }

 .topbar__hamburger__nav .hamburger__checkbox {
    position: absolute;
    display: block;
    height: 20px;
    top: 10px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
 }

 .topbar__hamburger__nav span {
    display: block;
    width: 23px;
    height: 3px;
    margin-bottom: 4px;
    position: relative;
    background: #00006b;
    border-radius: 2px;
    
    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
 }

  .topbar__hamburger__nav span:first-child {
    transform-origin: 0% 0%;
 }

 .topbar__hamburger__nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
 }
  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
 .hamburger__checkbox:checked ~ span {
    opacity: 1;
    transform: rotate(-45deg) translate(2px, 0px);
    background: #00006b;
 }
 /*
 * But let's hide the middle one.
 */

 .hamburger__checkbox:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
 
/*
 * Ohyeah and the last one should go the other direction
 */
 .hamburger__checkbox:checked ~ span:nth-child(2) {
   transform: rotate(45deg) translate(0px, 0px);
 }

 .hamburger__menu {
    position: absolute;
    top: 0px;
    margin-top: 74px;
    width: 100vw;
    height: 100vw;
    max-width: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #fff5b9;
    list-style-type: none;

    transform-origin: 0% 0%;
    transform: translate(0%,-150%);
    -webkit-font-smoothing: antialiased;
    transition: transform 2s cubic-bezier(0.77,0.2,0.05,1.0);
 }

.hamburger__checkbox ~ .hamburger__menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
 }

 .hamburger__checkbox:checked ~ ul {
    transform: none;
 }
 

@font-face {
    font-family: Akkurat;
    src: url(./picture/Akkurat-regular.ttf);
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: Akkurat bold;
    src: url(./picture/FontsFree-Net-Akkurat-Bold.ttf);
} 


@font-face {
    font-family: Akkurat light;
    src: url(./picture/FontsFree-Net-Akkurat-Light.ttf);
} 

body {
    background: transparent;
    color: #00006b;
    flex-direction: column;
    font-family: Akkurat ;
    font-size: 1.4rem;  
    min-height: 100vh;
    min-width: 320px;
    align-items: stretch;
}

/* topbar_menu_main */

.topbar__container {
    position: relative;
    transform: translateZ(0);
    transition: transform .4s ease-in-out;
    width: 100%;
    z-index: 101;
}

/* .topbar__container::before {
    animation-delay: .4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: initiallyHidden;
    animation-timing-function: linear;
    display: inline-block;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: translate3d(0,-100%,0);
    z-index: 103;
} */

.topbar {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 74px;
align-items: center;
font-size: 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

/* topbar_menu_logo */

.topbar__menu__logo {
    width: 214px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.topbar button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-transform: none;
    border: 0;

}
/* topbar_menu_main_login */

.topbar__menu__login {
    font-size: 1.2rem;
    color: #00006b;
}

.topbar__menu__search img {
 width: 30px;
 color: #00006b;
 padding-left: 10px;
}




/* Main */

.base__strip {
    background-image: linear-gradient(0deg,#3cdbef,#48e37d);
}

 /* main_first-page */

.page__main {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 100vw;
}

.base-strip__attach {
    margin-top: 70px;
}


.col-12__col-md-8 h1{
    font-size: 3.4rem;
    margin: 0 auto;
    margin-bottom: 28px;
}

.col-12__col-md-8 {
    text-align: center;
}

 /*  main_reset_ul_list__center-cards */

.reset-list__center-cards {
    display: flex;
    list-style: none;
    background: linear-gradient(180deg,transparent 50%,#fff 0);
    position: relative;
    gap: 20px;
    justify-content: center;
}

/* main_hover_button_flex-card */
.flex-card__js-scroll-card:hover {
    cursor: pointer;
    transform: translateY(-5%);
    filter: brightness(120%);
}
.flex-card__js-scroll-card {
    margin-bottom: 0;
    position: relative;
}

/* main_flex-card-link */

.flex-card__link {
    display: block;
    outline: none;
    position: relative;
}


.flex-card__article {
    color: #fff;
    position: absolute;
    top: 0;
    padding: 28px;
    height: 100%;
}

/* main_first_flex_card-image */

.flex-card__image img {
    border-radius: 30px;
    width: 350px;
    height: 475px;
    filter: brightness(80%)
}


.flex-card__wrappe__focus-parent {
    display: block;
    height: 100%;
    outline: none;
    position: relative;
}

 /* main_first_flex-card__header  */

.flex-card__header {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.flex-card__button-wrapper {
    align-self: flex-start;
    margin-top: auto;
}

/* main_first_flex-card__text  */

.flex-card__title {
    font-size: 1.7rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 30px;
}

.flex-card__subtitle {
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-family: Akkurat light;
    }

    .flex-card__button {
        display: inline-block;
        box-sizing: border-box;
        outline: none;
        border: 3px solid #c3c1c1;
        border-radius: 50%;
        height: 47px;
        color: #ffffff;
        background-color: #989090;
        cursor: pointer;
        user-select: none;
        appearance: none;
        touch-action: manipulation;
        opacity: 0.8;

    }
    .flex-card__button img{
        width: 25px;
    }

    .flex-card__button:focus-visible {
        box-shadow: 0 0 0 3px rgb(255, 255, 255);
    }

/* main_first_lex-card__button:hover */

    .flex-card__button:hover {
        border-color: #ffffff;
        color: #ffffff;
    }




    /* second section */
.page__main__second {
    margin-top: 70px;
}

.base-strip__attach-second {
    display: flex;
     flex-direction: row;
     background-color: rgb(230, 242, 245);
     padding: 50px 30px 70px 30px;
     justify-content: space-evenly;
     height: 50%;
 }

 .base-strip__attach__ul {
    list-style-type: "> ";
 }

 .base-strip__attach__ul a {
    list-style-type: "> ";
    color: rgb(0, 0, 107);
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 107, 0.3);
    transition: 0.2s ease;
    font-size: 1rem;
 }

/* main_second_page_text-hover */

 .base-strip__attach__ul a:hover {
    color: rgb(0, 0, 107);
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 107, 1.3);
 }

/* Footer */

.page__footer {
    background: #00006b;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 56px;
}

.input__footer {
    background-color: #00006b;
    border-radius: 5px;
    border-color: hsla(0,0%,100%,.4);
    color: white;
    padding: 20px 120px 20px 20px;
    font-size: 1.1rem;
}

.input__footer:hover{
    border-color: white;
}

.row__contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer__container {
   flex-grow: 1;
    flex-shrink: 0;
    max-width: 100vw;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer_nav_social_media */

.nav__footer-social-media{
    display: flex;
    padding: 20px 10px 20px 10px;
    margin: 0px 10px 20px 0px;
    align-items: center;
}
.nav__footer-social-media a {
    padding-left: 25px;
    
}

.nav__footer-social-media p {
    font-size: 1.1rem;
}

/* footer_nav_other */

.page__footer-other__ul li {
    padding-left: 10px;
    margin-left: 30px;
    font-size: 1.1rem;
}

.page__footer-other__ul a {
    text-decoration: none;
    color: white;
 }

 /* footer_nav_other:hover */

 .page__footer-other__ul a:hover {
    padding-left: 10px;
 }

.page__footer-other__ul {
    list-style-type: "> ";
    display: flex;
  
}

.page__footer-social-media P {
    margin-bottom: 0;
    font-size: 1.3rem;
}

.search__container__footer{
    left: 8%;
}

.row__contry {
    padding-left: 180px;
    padding-bottom: 100px;
}


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .topbar__menu__search {
        display: none;
    }

    .base__strip__center__container {
        padding: 30px 20px 25px 20px
    }


    .col-12__col-md-8 h1 {
        font-size: 1.8rem;
    }
    .col-12__col-md-8 p {
        font-size: 1rem;
    }

    .input__footer {
        max-width: 268px;
        }


        .base-strip__attach-second {
            display: block;
            padding: 50px 30px 70px 50px;
        }

        .page__footer-other__ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            padding-bottom: 20px;

        }
        .page__footer-other a {
           padding-top: 10px;
        }

        .row__contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            margin-left: 20px;
        }

        .row__contry {
            padding-left: 30px;
            padding-bottom: 50px;
        }
       
      
        body {
            align-items: center;
            display: block;
        }

        .page__footer {
            display: block;
        }

        .reset-list__center-cards {
            justify-content: start;
            overflow-x: auto;
        }
        

}
       

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .topbar__menu__search {
        display: none;
    }

    .base__strip__center__container {
        max-width: 928px;
        padding: 56px 20px 56px 20px;
    }
    .col-12__col-md-8 h1 {
        font-size: 2.5rem;
    }
    .col-12__col-md-8 p {
        font-size: 1.4rem;
    }

    .input__footer {
    min-width: 500px;
    }

    .row__contacts {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 10px 10px 20px 30px;
    }

    .row__contry {
        padding-left: 50px;
        padding-bottom: 60px;
    }

    body {
        align-items: center;
        display: block;
    }

    .reset-list__center-cards {
        justify-content: start;
        overflow-x: auto;
    }
    

    /* .control-vision::before { // button side version
        background: rgba(0,0,107,.15);
        border: none;
        border-radius: 0;
        cursor: pointer;
        display: block;
        height: 5rem;
        line-height: 5rem;
        margin: 0;
        opacity: 0;
        outline: none;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        transition: opacity .3s,background .3s,visibility 0ms linear .3s;
        visibility: hidden;
        width: 5rem;
    }
    .control-vision {
        opacity: 1;
        transition: opacity .3s,background .3s,visibility 0ms linear 0ms;
        visibility: visible;
    } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
    .base__strip__center__container {
        max-width: 928px;
        padding: 56px 20px 56px 20px;
        margin: 0 auto;
    }
body {
    align-items: center;

}

}